.composition__image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
 @media (max-width: 933px) {
  .composition__image{
    width: 200px;
    height: 300px;
    left: 53%;
  }
}

@media (max-width: 680px) {
  .composition__image{
    width: 100px;
    height: 200px;
    left: 53%;
  }
}
