.button_type_reverse{
  margin-left: 50px;
}


@media (max-width: 1080px) {
  .button_type_reverse{
 margin-top: 40px;
  }
}

@media (max-width: 769px) {
  .button_type_reverse{
width: 150px;
font-size: 30px;
}
}
