.feedbacks__photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: black 2px solid;
  object-fit: cover;
}
@media (max-width: 1080px) {
  .feedbacks__photo {
    height: 180px;
  }
}
