.promo__item{
  list-style-type:square;
  font-size: 26px;
  line-height: 58px;
  font-weight: 700;
  color: white;
}

@media (max-width: 1079px) {
  .promo__item{
    font-size: 16px;
  }
}

@media (max-width: 769px) {
  .promo__item{
    font-size: 12px;
  }
}
