.feedbacks__item {
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 20px 30px;
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  max-width: 80%;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  animation: carousel 15s linear infinite;
}

.feedbacks__item:nth-child(2) {
  animation-delay: 5s;
}

.feedbacks__item:last-child {
  animation-delay: -5s;
}

@keyframes carousel {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%,
  33.3% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3%,
  66.6% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  69.6%,
  90% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  90%,
  99% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 1080px) {
  .feedbacks__item {
    height: 250px;
  }
}

@media (max-width: 787px) {
  .feedbacks__item {
    max-width: 80%;
  }
}
